*.DS_Store
descriptor.mod
gfx/.DS_Store
common/.DS_Store
.cwtools/.DS_Store
common/.DS_Store
dlc_metadata/.DS_Store
gfx/.DS_Store
gfx/interface/.DS_Store
gfx/interface/advisors/.DS_Store
interface/.DS_Store
localisation/.DS_Store
map/.DS_Store
common/.DS_Store
.DS_Store
.DS_Store
